@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

* {
    font-family: 'Cairo', sans-serif;
    font-size: large;
}

body {
    height: 5000px;
    background-color: #F0F2F5;
}

.ar {
    direction: rtl;
    text-align: right;
}

.en {
    direction: ltr;
    text-align: left;
}







/**********Start NavBar**********/
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.9s;
    z-index: 99999;
}



.nav-link-custom {
    color: #fff !important;
}

.nav-link-custom:hover {

    border-bottom: #fff solid 2px;
}

.navbar-collapse-custom {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 40s ease infinite;
    background-size: 400% 400%;

}



.progress-container {
    width: 100%;
    height: 8px;
    opacity: 0;
    background: #000000;
    transition: all 0.4s;
}


.progress-bar {
    height: 8px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    width: 0%;
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;

}

/**********End NavBar**********/



/**********Start Main**********/
.Main {
    z-index: 1;
    background: #3a0ca3;
    padding-top: 6rem;
    position: relative;
    padding-bottom: 8rem;
    height: 20%;
}


.wave {
    position: absolute;
    top: 55rem;
    z-index: -1;
}



.textAr {
    font-family: 'Rakkas',
        cursive;
}

/**********End Main**********/






/**********Start Exmas**********/
.Exmas{
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-color: #ffffff;
    
    
}
/**********End Exmas**********/






/**********Start Curriculum**********/
.Curriculum{
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #ffb703;

}

/**********End Curriculum**********/







/***gradient***/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
/***gradient***/





/* TypoAnmition */
[data-typer]:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 1em;
    background: rgb(255, 255, 255);
    animation: caretPulsate 1s linear infinite;
    -webkit-animation: caretPulsate 1s linear infinite;
}

@keyframes caretPulsate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes caretPulsate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* TypoAnmition */